body {
    background: linear-gradient(to right, #7ED0D8, #E3FDFD);
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    color: #333;
}


h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #FF7E5F, #FD5D93);
    padding: 20px;
    color: white;
    position: relative;
}



.banner-button {/*compra ya*/
    display: inline-block;
    background: yellow;
    color: red;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
}

.banner-images {
    display: flex;
    gap: 20px;
}

.product {
    position: relative;
}

.product img {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.price {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
}

/*estilo de la casita de la vista para regresar al inicio*/

.producto img {
    width: 80%;
    height: 60%;
    transition: transform 0.1s ease;
}


/************************* */
.btn-home {
display: inline-block;
font-size: 24px;
padding: 10px 20px;
border-radius: 50%;
background-color: #f8f9fa;
color: #333;
text-align: center;
text-decoration: none;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-home:hover {
background-color: #007bff;
color: #fff;
}
