
body {
    font-family: 'Poppins', sans-serif;
    background-color: #80eedf; /* Color de fondo */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Ajusta el tamaño máximo del contenedor */
}

img {
    width: 200px; /* Tamaño de la imagen */
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y el formulario */
    border-radius: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    color: #333333;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

form input[type="number"],
form input[type="password"],
form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border 0.3s ease;
}

form input[type="number"]:focus,
form input[type="password"]:focus,
form input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

center a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 12px;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

center a:hover {
    text-decoration: underline;
}
