/* Estilos generales para el formulario */
.card-content form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para cada grupo de formulario */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para la imagen de vista previa */
.image-preview {
    text-align: center;
    margin-bottom: 20px;
}

#preview {
    max-width: 100%;
    height: auto;
}

/* Estilos adicionales (personalizables): */
/* Botón de submit */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Para personalizar más el formulario, puedes agregar estilos para: */
/* - Etiquetas de error */
/* - Estados de foco (input:focus) */
/* - Diferentes tamaños de pantalla (media queries) */

/* Estilos adicionales para el botón, etc. */

  .image-preview {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    border-radius: 10px;

    text-align: center;
    position: relative;
}

.image-preview img {
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: 100%;
    object-fit: contain; /* Ajusta la imagen al contenedor sin distorsionar */
    object-position: center; /* Centra la imagen dentro del contenedor */
}

.image-preview::before {
    content: "Arrastra una imagen aquí o selecciona una";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #888;
}
