.fa-heart {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.fa-heart.liked {
    color: #e74c3c; /* Color rojo para el corazón lleno */
}



